<div class="container">
  <div class="row" id="destHead">
    <div class="col s6" id="destHeader">
      <h3>Destinations</h3>
    </div>
    <div id="destBorder" class='col s6'>
    <!-- <div id="writing" class='col s6 offset-s6'> -->
      <img id="destPic" src="img/airport.jpeg" alt="">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m12">
      <input type="text" class="filterLine" ng-model="filterText">
      <label for="">Search</label>
    </div>
  </div>

  <div class="row">
    <div id="destList" class="col s12 m4" ng-repeat='dest in destinations | filter: filterText track by $index'>
      <div class="card">
        <div class="card-image">
          <img id="pics" ng-src="{{dest.image}}" />
          <span class="card-title"></span>
        </div>
        <div class="card-content">
           <div>{{dest.name}}</div>
           <div>{{dest.loc}}</div>
        </div>

        <div class="card-action">
          <span class="card-title activator grey-text text-darken-4">
          <button ng-click="showDetails(dest)" type="button" class="btn-floating green"><i class="small material-icons left">description</i></button>
          <a type="button" ng-click="deleteDest($index, dest)" class="btn-floating yellow darken-1" ng-href='#/entry'>
            <i class="tiny material-icons">mode_edit</i>
          </a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Adventures<i class="material-icons right">code</i></span>
          <p>{{dest.activity1}}</p>
          <p>{{dest.activity2}}</p>
          <p>{{dest.activity3}}</p>
          <!-- <button ng-click="showDetails(dest)" type="button" class="btn-floating blue"><i class="small material-icons left">open_with</i>Go To Blog</button> -->
          <button ng-click="deleteDest($index, dest)" type="button" class="btn-floating red"><i class="small material-icons left">not_interested</i>Delete Me</button>
        </div>
      </div>
    </div>
  </div>

</div>
