<div class="container">
    <form class="col s12" name='destForm' autocomplete='off'>
      <div class="row">
        <div class="col s6" id="formHeader">
          <h3>Add an Adventure</h3>
        </div>
        <div id="formBorder" class='col s6'>
            <img id="formPic" src="img/row.jpeg" alt="">
        </div>
      </div>

    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">loyalty</i>
        <input id="icon_prefix" type="text" name="name" ng-model='dest.name' name='name' required ng-class='{invalidInput: destForm.name.$invalid && destForm.name.$touched}' minlength='1'>
        <label for="icon_prefix">Destination Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4">
        <input id="icon_telephone" type="text" class="validate" ng-model='dest.loc' name='loc' ng-class='{invalidInput: destForm.loc.$invalid && destForm.loc.$touched}' required>
        <label for="">Location</label>
      </div>
      <div class="input-field col s4">
        <input type="text" class="validate" ng-model="dest.image" required>
        <label for="">Image URL</label>
      </div>
      <div class="input-field col s4">
        <input type="number" class="" ng-model="dest.date" placeholder="YYYY-DD-MM" required>
        <label for="">Date</label>
      </div>
    </div>
   <div class="row">
     <div class="input-field col s12">
         <input type="text" class="validate" name='activity1' ng-model='dest.activity1' name='activity1' ng-class='{invalidInput: destForm.activity1.$invalid && destForm.activity1.$touched}' required>
         <label for="">First Activity</label>
       </div>
     <div class="input-field col s12">
         <input type="text" class="validate" ng-model='dest.activity2' required name='activity2' ng-class='{invalidInput: destForm.activity2.$invalid && destForm.activity2.$touched}'>
         <label for="first_name">Second Activity</label>
       </div>
     <div class="input-field col s12">
         <input type="text" class="validate" ng-model='dest.activity3' name='activity3' ng-class='{invalidInput: destForm.activity3.$invalid && destForm.activity3.$touched}' required>
         <label for="first_name">Third Activity</label>
       </div>
     </div>
     <div class="row">
       <div class="input-field col s12">
         <i class="material-icons prefix">mode_edit</i>
         <input type="text" class="note" ng-model="blog.note" name="note" required>
         <label for="cc">Travel Blog</label>
       </div>
     </div>
     <a type='button' class="btn-floating btn-large red"><i class="fa fa-plane" ng-click="submitEntryForm()" ui-sref='destinations'></i></a>
     <p id='pText'>Submit!</p>
   </form>
 </div>
