<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar'>
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#/splash" class="navbar-brand">Wishful Travel</a>
    </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <!-- <li>
        <a ng-href="#">Home</a>
      </li> -->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a ng-href="#/destinations">Destinations</a>
      </li>
      <li>
        <a ng-href="#/single">Travel Blog</a>
      </li>
      <li>
        <a href="#/entry">Add a Destination</a>
      </li>
    </ul>
  </div>
</div>
</nav>

<!-- <nav>
  <ul>
    <li><a ui-sref="home">Home</a></li>
  </ul>
</nav> -->
<!-- <div class="navbar-fixed">
  <nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Wishful Travel
<i class="material-icons prefix">loyalty</i>
</a>
  <ul id="nav-mobile" class="right hide-on-sm-and-down">
      <li><a href="sass.html">Destinations</a></li>
      <li><a href="badges.html">Travel Blog</a></li>
      <li><a href="collapsible.html">Add Destination</a></li>
    </ul>
  </div>
  </nav>
</div> -->
