<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar'>
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#/splash" class="navbar-brand">Wishful Travel</a>
    </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a ng-href="#/destinations">Destinations</a>
      </li>
      <li>
        <a ng-href="#/single">Travel Blog</a>
      </li>
      <li>
        <a href="#/entry">Add Destinations</a>
      </li>
    </ul>
  </div>
</div>
</nav>
