<div class="container">
  <div class="row" id="writeHead">
    <div class="col s6" id="writeHeader">
      <h3>Wander Writings</h3>
    </div>
    <div id="writeBorder" class='col s6'>
    <!-- <div id="writing" class='col s6 offset-s6'> -->
      <img id="writingPic" src="img/writing.jpeg" alt="">
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 m12">
      <input type="text" class="filterLine" ng-model="filterText">
      <label for="">Search</label>
    </div>
  </div>

  <div class="row">
    <div id="destList" class="col s12 m12" ng-repeat='blog in blogs | filter: filterText track by $index'>
    <p id="date">{{blog.date | date}}</p>
    <p id="blog">{{blog.blog}}</p>
    </div>
  </div>

</div>
